<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PDV_WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PDV_WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
      </configSections>
  <connectionStrings>
    <add name="PDV_WPF.Properties.Settings.FDBConnString" connectionString="data source=192.168.10.250;initial catalog=D:\PROGRAMAS\CompuFour\Clipp_LOJA\Base\CLIPP_TESTE.FDB;user id=SYSDBA;password=masterkey;charset=WIN1252" providerName="FirebirdSql.Data.FirebirdClient" />
    <add name="Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=FirebirdSql.Data.FirebirdClient;provider connection string=&quot;data source=localhost;initial catalog=D:\PROGRAMAS\CompuFour\Clipp_ASSISTENCIA\Base\CLIPP.FDB;user id=SYSDBA;password=masterkey;charset=WIN1252&quot;" providerName="System.Data.EntityClient" />
    <add name="PDV_WPF.Properties.Settings.ComandasCS" connectionString="charset=WIN1252;initial catalog=D:\PROGRAMAS\InfoTech\InfoPad.FDB;data source=192.168.10.250;user id=SYSDBA;Password=masterkey" providerName="FirebirdSql.Data.FirebirdClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.diagnostics>
    <sources>
      <source name="FirebirdSql.Data.FirebirdClient">
        <listeners>
          <clear />
          <!--<add name="console" type="System.Diagnostics.ConsoleTraceListener"/>-->
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <userSettings>
    <PDV_WPF.Properties.Settings>
      <setting name="PedidoMax" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="SegToleranciaUltSync" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ECFAuditoria" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SWATCode" serializeAs="String">
        <value>10-4</value>
      </setting>
      <setting name="SWATInfo" serializeAs="String">
        <value />
      </setting>
      <setting name="SYSVersao" serializeAs="String">
        <value>0.0.0.0</value>
      </setting>
    </PDV_WPF.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <PDV_WPF.Properties.Settings>
      <setting name="SyncTimeout" serializeAs="String">
        <value>10</value>
      </setting>
    </PDV_WPF.Properties.Settings>
  </applicationSettings>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FirebirdSql.Data.FirebirdClient" publicKeyToken="3750abcc3150b00c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.4.0.0" newVersion="6.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.SfShared.Wpf" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.4460.0.20" newVersion="15.4460.0.20" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FileHelpers" publicKeyToken="3e0c08d59cc3d657" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.0.0" newVersion="3.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.16.0" newVersion="8.0.16.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.14.0.0" newVersion="3.14.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.5.0" newVersion="1.8.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FastReport" publicKeyToken="5ceb240df42bf6e8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2022.1.14.0" newVersion="2022.1.14.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
