<?xml version="1.0" encoding="utf-8" ?>
<CONFIGURACOESXML>
  <CORTESIA>Mensagem de Cabacisse</CORTESIA>
  <LOGO>Resources/Logo1.png</LOGO>
  <NOMESOFTWARE>AmbiPDV</NOMESOFTWARE>
  <FBTIMEOUT>1000</FBTIMEOUT>
  <SERVERNAME>localhost</SERVERNAME>
  <SERVERCATALOG>M:\TRILHEIROS\D - Bases de Clientes\CLiente Alisson\CLIPP.FDB</SERVERCATALOG>
  <AUTORIZADO>0</AUTORIZADO>
  <FECHAMENTO_EXTENDIDO>0</FECHAMENTO_EXTENDIDO>
</CONFIGURACOESXML>
