<?xml version="1.0" encoding="utf-8" ?>
<CONFIGURACOESXML>
  <CORTESIA>Mensagem de Cabacisse</CORTESIA>
  <LOGO>Resources/Logo1.png</LOGO>
  <NOMESOFTWARE>AmbiPDV</NOMESOFTWARE>
  <FBTIMEOUT>1000</FBTIMEOUT>
  <SERVERNAME>192.168.10.250</SERVERNAME>
  <SERVERCATALOG>D:\PROGRAMAS\CompuFour\Clipp_ASSISTENCIA\Base\CLIPP_TESTE.FDB</SERVERCATALOG>
  <AUTORIZADO>0</AUTORIZADO>
</CONFIGURACOESXML>
