<?xml version="1.0" encoding="utf-8" ?>
<CONFIGURACOESXML>
  <LOGO>Resources/Logo1.png</LOGO>
  <NOMESOFTWARE>AmbiPDV</NOMESOFTWARE>
  <FBTIMEOUT>1000</FBTIMEOUT>
  <SERVERNAME>localhost</SERVERNAME>
  <SERVERCATALOG>C:\Users\TRILHA SISTEMA\Desktop\copia\CLIPP.FDB</SERVERCATALOG>
  <COMANDASCATALOG>D:\PROGRAMAS\CompuFour\Clipp_LOJA\Base\CLIPP_TESTE.FDB</COMANDASCATALOG>
  <AUTORIZADO>1</AUTORIZADO>
  <FECHAMENTO_EXTENDIDO>1</FECHAMENTO_EXTENDIDO>
  <FORCA_GAVETA>0</FORCA_GAVETA>
  <USAORCAMENTO>0</USAORCAMENTO>
  <SATTIMEOUT>1000</SATTIMEOUT>
  <EXIBEFOTO>1</EXIBEFOTO>
  <SENHA_PRAZO>0</SENHA_PRAZO>
  <SENHA_CONSULTA>0</SENHA_CONSULTA>
  <SCANNTECH>0</SCANNTECH>
</CONFIGURACOESXML>
