<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PDV_ORCAMENTO.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="PDV_ORCAMENTO.Properties.Settings.FDBOrcaConnString"
            connectionString="initial catalog=M:\TRILHEIROS\D - Bases de Clientes\Samuca\CLIPP.FDB;data source=localhost;user id=SYSDBA;Password=masterkey;charset=WIN1252"
            providerName="FirebirdSql.Data.FirebirdClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <userSettings>
        <PDV_ORCAMENTO.Properties.Settings>
            <setting name="Auditoria" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="NetworkDB" serializeAs="String">
                <value>initial catalog=M:\TRILHEIROS\D - Bases de Clientes\Samuca\CLIPP.FDB;data source=localhost;user id=SYSDBA;Password=masterkey;charset=WIN1252</value>
            </setting>
            <setting name="NomeSoftware" serializeAs="String">
                <value>Ambi Orçamento</value>
            </setting>
            <setting name="ImpressoraUSB" serializeAs="String">
                <value>CutePDF Writer</value>
            </setting>
            <setting name="rodape" serializeAs="String">
                <value>Mensagem de Rodapé</value>
            </setting>
            <setting name="ConfigSensivelVersaoAlterada" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="no_caixa" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TipoImpressora" serializeAs="String">
                <value>2</value>
            </setting>
        </PDV_ORCAMENTO.Properties.Settings>
    </userSettings>
<system.data>
		<DbProviderFactories>
			<remove invariant="FirebirdSql.Data.FirebirdClient" />
			<add name="FirebirdClient Data Provider" invariant="FirebirdSql.Data.FirebirdClient" description=".NET Framework Data Provider for Firebird" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient" />
		</DbProviderFactories>
	</system.data></configuration>
